/* GENERAL */

.home h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--familyTitles);
}

/* HEADER */
.home__header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--colorAzul);
    justify-content: space-between;
    align-items: center;
}

.home__header h3{
    font-family: var(--familyTitles);
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    margin: 10px 0;
}

.home__header button{
    border: none;
    padding: 10px;
    background-color: var(--colorVerde);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

.home__header__nav {
    display: none;
}

/* HOME */
.home__main__section--star {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}
.home__main__section--star hr{
   width: 100px;
   height: 4px;
   background-color: #fff;
   border: none;
}

/* HOME | BANNER */
.home__main__section--banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 15px;
    background-color: var(--colorVerde);
    color: #fff;
    text-align: center;
    gap: 20px;
}

.home__main__section--banner figure{
    width: 250px;
}

.home__main__section--banner figure img{
    width: 100%;
}

.home__main__section--banner h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.8rem;
    font-family: var(--familyTitles);
    line-height: 50px;
}

/* HOME | PORTFOLIO */
.home__main__section--portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 60px 15px;
    color: var(--colorAzul);
}

.home__main__section--portfolio .home__main__section--star {   
    color: var(--colorAzul);
}
.home__main__section--portfolio .home__main__section--star hr{
   background-color:var(--colorAzul);
}

.home__main__section--portfolio article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}


.home__main__section--portfolio img {
    width: 100%;
}

/* HOME | ABOUT */
.home__main__section--about {
    background-color: var(--colorVerde);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 15px;
}

.home__main__section--about article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
 }

.home__main__section--about p {
   line-height: 28px;
   font-size: 1.2rem;
}

.home__main__section--about a {
    display: flex;
    border: 2px solid #fff;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
 }
 .home__main__section--about a i {
   margin-right: 10px;
 }

 /* HOME | CONTACT */
.home__main__section--contact {
    background-color: #fff;
    color: var(--colorAzul);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 15px;
}

.home__main__section--contact .home__main__section--star {   
    color: var(--colorAzul);
}
.home__main__section--contact .home__main__section--star hr{
   background-color:var(--colorAzul);
}
.form-column {
    width: 100%;
}

.form-box {
    margin-bottom: 30px;
}

.form-input, .form-textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid silver;
    margin-top: 10px;
}

.form-textarea {
    resize: none;
}

.home__main__section--contact button{
    background-color: var(--colorVerde);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px;
}

/* FOOTER */
.home__footer__section {
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;
    background-color: var(--colorAzul);
    gap: 30px;
    flex-wrap: wrap;
}
.home__footer__section__article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.home__footer__section__article h3 {
   text-transform: uppercase;
   font-weight: 800;
   font-size: 22px;
}

.home__footer__section__article div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 10px;
}

.home__footer__section__article a {
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    width: 50px;
    height: 50px;
}

.home__footer__section__article p {
    font-size: 1.2rem;
}

.home__footer__section__article p span {
    color: var(--colorVerde);
}

.home__footer__section--copyright {
    background-color: #000028;
    padding: 30px 0;
    color: #fff;
    text-align: center;
}

/* TABLET */
@media (min-width:768px){

    /* HEADER */
    .home__header {
        padding: 40px;
    }

    /* HOME | BANNER */
    .home__main__section--banner {
        padding: 60px 40px;
    }

    /* HOME | PORTFOLIO */
    .home__main__section--portfolio {
        padding: 60px 40px;
    }
    .home__main__section--portfolio article {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px 0; /* row col */
    }

    .home__main__section--portfolio img {
        width: 48%;
    }
    /* HOME | ABOUT */
    .home__main__section--about {
        padding: 60px 40px;
    }

     /* HOME | CONTACT */
    .home__main__section--contact {
        padding: 60px 40px;
    }

    /* FOOTER */
    .home__footer__section {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 60px 40px;

    }
    .home__footer__section__article{
        width: 28%;
    }

    .home__footer__section__article p {
        font-size: 1rem;
    }

}

@media (min-width:1024px){ 

    /* HEADER */
    .home__header {
        padding: 40px 60px;
    }
    
    .home__header button{
        display: none;
    }
    
    .home__header__nav {
        display: block;
        width: 30%;

    }
    .home__header__nav ul{
        display: flex;
        justify-content: space-around;
    }

    .home__header__nav ul li a{
        color: #fff;
        text-transform: uppercase;
    }

     /* HOME | BANNER */
     .home__main__section--banner {
        padding: 60px;
    }

    /* HOME | PORTFOLIO */
    .home__main__section--portfolio {
        padding: 60px;
    }

    .home__main__section--portfolio img {
        width: 32%;
    }

    /* HOME | ABOUT */
    .home__main__section--about {
        padding: 60px;
    }
    
    .home__main__section--about article {
        flex-direction: row;
        justify-content: center;
        width: 70%;
    }

    .home__main__section--about p {
        width: 45%;
        line-height: 32px;
        font-size: 1.5rem;
     }

    /* HOME | CONTACT */
    .home__main__section--contact {
        padding: 60px;
    }

    .form-column {
        width: 70%;
    }

    
    .form-input {
        height: 30px;
    }

}